@model WMS.Models.User

@{
    ViewBag.Title = "Edit";
}
    <div>
      <form class ="form-inline" role="form">
          <div class="form-group "> <h2>Edit User</h2> </div>
      </form>  
    </div>
 <hr />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
    @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.UserID)
      <div ng-app="UserLocation" ng-controller="myCtrlEdit" data-ng-init="initFunction(@Model.UserID)">
      
        <section class="col-md-12">
             <div class="form-group">
               <div class="control-label col-md-2">Username</div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.UserName,new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UserName)
@*@Html.ActionLink("View AD Users", "ListOfADUser",null,new { @class = "" })<a target="_blank" href="~/User/ListOfADUser">List of AD Users</a>*@
                </div>
            </div>
            <div class="form-group">
               <div class="control-label col-md-2">Password</div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Password,new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
             </div>
            <div class="form-group">
               <div class="control-label col-md-2">User Type</div>
                <div class="col-md-10"> 
                    <input type="hidden" name="UserTypeHidden" id="UserTypeHidden" value="@Model.UserType"/>
                    @Html.DropDownList("UserType", new List<SelectListItem>
                    { 
                        new SelectListItem { Text = "Admin", Value = "true"},
                        new SelectListItem { Text = "Restricted", Value = "false"}
                    },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"}) 
                </div>
             </div>
            <div class="form-group">
               <div class=" col-md-2 text-right">Status</div>
                <div class="col-md-10">
                    @Html.CheckBox("Status") 
                        
                </div>
            </div>

          <div id="ForUserOnly">
                    <div class="form-group">
                        <div class="control-label col-md-2">Locations</div>
                        <div class="col-md-6">
                            @Html.DropDownList("Location", null, new { @id = "Location", @multiple = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-md-2">Sections</div>
                        <div class="col-md-6">
                            @Html.DropDownList("Department", null, new { @id = "Department", @multiple = "form-control" })
                        </div>
                    </div>
                </div>
            
         <div class="form-group">
             <div class="col-md-2 text-right">Operations</div>
             <div class="col-md-10">
                 @Html.CheckBox("CanAdd") <label>Can Add</label>
                 @Html.CheckBox("CanEdit") <label>Can Edit</label>
                 @Html.CheckBox("CanDelete") <label>Can Delete</label>
                 @Html.CheckBox("CanView") <label>Can View</label>
             </div>
          </div>
            <div class="form-group">
                <div class=" col-md-2 text-right">Forms</div>
                <div class="col-md-10">
                    @Html.CheckBox("MHR") <label>HR</label>
                    @Html.CheckBox("MOption") <label>Options</label>
                    @Html.CheckBox("MLeave") <label>Leaves</label>
                    @Html.CheckBox("MUser") <label>Users</label>
                    @Html.CheckBox("MDevice") <label>Devices</label>
                    @Html.CheckBox("MDesktop") <label>Desktop</label>
                    @Html.CheckBox("MEditAtt") <label>Edit Attendance</label>
                    @Html.CheckBox("MProcess") <label>Process Attendance</label>
                    
                </div>
            </div>
         <div class="form-group">
                <div class="col-md-2 text-right">Reports</div>
                <div class="col-md-10">
                        @Html.CheckBox("MRLeave") <label>Leaves</label>
                        @Html.CheckBox("MRDailyAtt") <label>Daily Attendance</label>
                        @Html.CheckBox("MRMonthly") <label>Monthly Attendance</label>
                        @*@Html.CheckBox("MRAudit") <label>Audit</label>*@
                    @*@Html.CheckBox("MRManualEditAtt") <label>Edit Attendance</label>*@
                    @Html.CheckBox("MRDetail") <label>Detailed</label>
                    @*@Html.CheckBox("MRSummary")*@ <label>Summary</label>
                </div>
            </div>
     </section>
        

         <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default btn-success" />
                 @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
            </div>
        </div>
      </div>
    </div>
} 
<script src="~/Scripts/angular/MainController.js"></script>  
<script src="~/Scripts/angular/UserEditController.js"></script>
<script src="~/Scripts/UserScripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />
<script type="text/javascript">
    var SelectedLocations = @Html.Raw(Json.Encode(ViewBag.SelectedLocation ));    
    $("#Location").val(SelectedLocations);
    var SelectedDepartments = @Html.Raw(Json.Encode(ViewBag.SelectedDepartments ));    
    $("#Department").val(SelectedDepartments);
</script>
<script>
    $(document).ready(function () {
        $('#Location').multiselect({
            nonSelectedText: 'Select Locations',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '200px',
            enableCheckedItem: true
        });
        $('#Department').multiselect({
            nonSelectedText: 'Select Departments',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '200px'
        });
        $('#button').click(function () {
            var selectedLocation = $('#Location');           
            var selectedDepts = $('#Department');
            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: '/User/GETIDs',
                type: 'POST',
                cache: false,
                dataType: "json",              
                data: { Locations: location, Department: departments },
                success: function (result) {
                    alert(result);
                }
            });
        });
    });
</script>